<div class="tech-group">
    <div class="tech-title">
        <h3>
            Frontend
        </h3>
        <p>
            Frameworks and libraries
        </p>
    </div>
    <div class="tech-list">
        <ul>
            <li>
                <a href="http://backbonejs.org/">
                    Backbone.js
                </a>
            </li>
            <li>
                <a href="http://underscorejs.org/">
                    Underscore.js
                </a>
            </li>
            <li>
                <a href="http://jquery.com">
                    jQuery
                </a>
            </li>
            <li>
                <a href="http://zeptojs.com/">
                    Zepto.js
                </a>
            </li>
            <li>
                <a href="http://getbootstrap.com/">
                    Twitter Bootstrap
                </a>
            </li>
        </ul>
    </div>
</div>

