<div class="tech-group">
    <div class="tech-title">
        <h3>
            Languages & Technologies
        </h3>
        <p>
            Tools of the trade
        </p>
    </div>
    <div class="tech-list">
        <ul>
            <li>
                <a href="http://coffeescript.org/">
                CoffeeScript
                </a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/JavaScript">
                    JavaScript
                </a>
            </li>
            <li>
                <a href="http://php.net/">
                    PHP
                </a>
            </li>
            <li>
                <a href="http://haskell.org/">
                    Haskell
                </a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">
                    HTTP
                </a>
            </li>
            <li>
                <a href="https://developer.mozilla.org/en/docs/WebSockets">
                    WebSockets
                </a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/SQL">
                    SQL
                </a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">
                    REST
                </a>
            </li>
            <li>
                <a href="http://www.w3.org/html/wg/drafts/html/master/">
                    HTML5
                </a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">
                    CSS3
                </a>
            </li>
            <li>
                <a href="http://lesscss.org/">
                    LESS
                </a>
            </li>
            <li>
                <a href="http://sass-lang.com/">
                    SASS
                </a>
            </li>
            <li>
                <a href="http://www.yaml.org">
                    YAML
                </a>
            </li>
            <li>
                <a href="http://www.json.org">
                    JSON
                </a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/XML">
                    XML
                </a>
            </li>
        </ul>
    </div>
</div>
