<div class="tech-group">
    <div class=" tech-title">
        <h3>
            Storage
        </h3>
        <p>
            Temporary and Permanent
        </p>
    </div>
    <div class="tech-list">
        <ul>
            <li>
                <a href="http://www.mysql.com/">
                    MySQL
                </a>
            </li>
            <li>
                <a href="http://www.sqlite.org">
                    SQLite
                </a>
            </li>
            <li>
                <a href="http://www.postgresql.org">
                    PostgreSQL
                </a>
            </li>
            <li>
                <a href="http://memcached.org/">
                    Memcached
                </a>
            </li>
            <li>
                <a href="http://redis.io">
                    Redis
                </a>
            </li>
            <li>
                <a href="https://www.mongodb.com">
                    MongoDB
                </a>
            </li>
        </ul>
    </div>
</div>
