<div class="tech-group">
    <div class="tech-title">
        <h3>
            Supporting
        </h3>
        <p>
            Tools and software
        </p>
    </div>
    <div class="tech-list">
        <ul>
            <li>
                <a href="http://git-scm.com/">
                    Git
                </a>
            </li>
            <li>
                <a href="https://github.com/">
                    GitHub
                </a>
            </li>
            <li>
                <a href="http://gulpjs.com">
                    Gulp
                </a>
            </li>
            <li>
                <a href="http://gruntjs.com/">
                    Grunt
                </a>
            </li>
            <li>
                <a href="http://httpd.apache.org/">
                    Apache
                </a>
            </li>
            <li>
                <a href="http://nginx.org/">
                    Nginx
                </a>
            </li>
            <li>
                <a href="https://www.npmjs.org/">
                    NPM
                </a>
            </li>
            <li>
                <a href="https://getcomposer.org/">
                    Composer
                </a>
            </li>
            <li>
                <a href="http://bower.io">
                    Bower
                </a>
            </li>
            <li>
                <a href="https://travis-ci.org/">
                    Travis
                </a>
            </li>
            <li>
                <a href="http://jenkins-ci.org/">
                    Jenkins
                </a>
            </li>
            <li>
                <a href="http://www.vim.org/">
                    Vim
                </a>
            </li>
            <li>
                <a href="https://www.eclipse.org/">
                    Eclipse
                </a>
            </li>
        </ul>
    </div>
</div>
