<section id="new-challenge">
    <div class="wrapper">
        <h2>Looking For A New Challenge</h2>
        <p>
            I recently moved to Southwestern Ontario to be with my lovely wife.
            I became a Permanent Resident of Canada late 2014. As such, I am
            looking for a new challenge in this region.
        </p>
        <p>
            I am an experienced software engineer, with a focus on everything
            web. I am looking for a senior engineering position. Not shy of
            responsibilities, I have a strong, independent drive to deliver.
        </p>
        <p>
            Looking for talent?
            <br>
            Drop me a line at <a href="mailto:maurice@naneau.net">maurice@naneau.net</a>
        </p>
    </div>
</section>
