<section id="intro">
    <div class="container">
        <h1>Maurice Fonk</h1>

        <div class="wrapper">
            <div class="intro">
                <h2>Web Application Engineer</h2>
                <p>
                    I'm a web application engineer with 10+ years of
                    experience building everything from complex,
                    high-traffic,real-time, web applications, to big
                    content and media management systems. I have a
                    strong, independent drive to figure out how stuff
                    works, and learn new skills. I am fluent in many
                    web related programming, markup, and styling
                    languages, and have a good grasp of several others.
                </p>
            </div>
            <div class="details">
                <div class="row">
                    <div class="column">
                        <h2>Details</h2>
                        <dl>
                            <dt>Name</dt>
                            <dd>Maurice Fonk</dd>

                            <dt>Age</dt>
                            <dd>31</dd>

                            <dt>Location</dt>
                            <dd>Southwestern Ontario, Canada</dd>
                        </dl>
                    </div>
                    <div class="column">
                        <img src="/img/headshot.jpg" alt="Maurice Fonk" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
