<div id="bi-lingual">
    <h2>Real Languages</h2>
    <div class="intro">
        <p>
            As a bona-fide European, I have always been surrounded by many
            different languages. I grew up within half an hour's drive of three
            different language zones. Dutch schools have a strong focus on
            languages, and as such I have studied Dutch, German, French, English,
            Ancient Greek, and Latin. I am fluent in both English and Dutch.
        </p>
    </div>
    <div class="language-stats">
        <div class="language">
            <h3>
                English
            </h3>
            <p>
                Daily
            </p>
            <ul class="stars">
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
            </ul>
        </div>
        <div class="language">
            <h3>
                Dutch
            </h3>
            <p>
                Moederstaal
            </p>
            <ul class="stars">
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
            </ul>
        </div>
        <div class="language">
            <h3>
                German
            </h3>
            <p>
                Ein Bischen
            </p>
            <ul class="stars">
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star-o"></i>
                </li>
                <li>
                    <i class="fa fa-star-o"></i>
                </li>
                <li>
                    <i class="fa fa-star-o"></i>
                </li>
            </ul>
        </div>
        <div class="language">
            <h3>
                French
            </h3>
            <p>
                Un petit peu
            </p>
            <ul class="stars">
                <li>
                    <i class="fa fa-star"></i>
                </li>
                <li>
                    <i class="fa fa-star-half-o"></i>
                </li>
                <li>
                    <i class="fa fa-star-o"></i>
                </li>
                <li>
                    <i class="fa fa-star-o"></i>
                </li>
                <li>
                    <i class="fa fa-star-o"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
